@{
    ViewBag.Title = "Login Failure";
}

<!-- Plugged in my own .css file -->
@Styles.Render("~/Content/Styles.css")

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
